.C1 {

     color: purple;
     background-color: black;
     text-align: center;
     font-size: 70px;
     border: solid green 9px;

}
.C2 {

     color: aqua;
     background-color: yellow;
     text-align: right;
     font-size: 100px;
     border: solid red 6px;

}