#car1 {
 
     color: purple;
     background-color: black;

}
#car2 {

     color: aqua;
     background-color: green;

}
#car3 {

     color: red;
     background-color: blue;

}
#car4 {

     color: brown;
     background-color: pink;

}
#car5 {

     color: bisque;
     background-color: black;

}