.d{

     width: 500px;
     height: 300px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column-reverse;
     background-color: aqua;
     border: 4px double purple;

}
.dd{

     background-color: black;
     color: lightgreen;
     border: 3px solid puple;
  
}