table {

     border-collapse: collapse;

}
tr:nth-child(1) {

     background-color: green;

}
tr:nth-child(3){

     background-color: lightblue;

}
tr:nth-child(5){

     
     background-color: lightblue;

}
