input[type="text"]{

     background-color: red;
     color: blue;
     border-radius: 10px;
     font-family: sans-serif;
  

}
input[type="Email"]{


     background-color: orange;
     color: red;
     outline: none;

}
input[type="password"]{

     background-color: purple;
     border: solid red 2px;
     outline: none;
     border-radius: 5px;
     color: green;
}