.idkk {

     color: purple;
     background-color: black;
     text-align: center;
     font-size: 80px;

}
#lela {

     color: green;
     background-color: yellow;
     text-align: right;

}
ul {

     color: aqua;
     background-color: purple;
     border: solid 5px green;

}