 p {
      
     color: aqua;
     background-color: red;
     font-size: 30px;
     text-align: center;
     border: solid red 4px;
     
 }

 h1 {
   
     color: blueviolet;
     background-color: black;
     font-size: 90px;
     text-align: right;
     border: solid aqua 3px;

 }
 
 button {

     color: chartreuse;
     background-color: blueviolet;
     font-size: 15px;
     text-align: left;
     border: solid red 6px;




 }





