input {

     width: 80px;
     height: 80px;
     padding: 10px 10px 10px 10px;
     background-color: black;
     border-top: 5px dashed purple;
     border-bottom: 7px dotted orange;
     border-right: 6px double green;
     border-left: 4px solid red;

}