 #DD {

     color: blue;
     font-size: 40px;

}
#fff {

     color: red;
     font-size: 5px;

}
#ee {

     color: purple;
     font-size: 70px;

}
#nn {

     color: aqua;
     font-size: 55px;

}
#dd {

     color: brown;
     font-size: 34px;
}