
.parent {
    width:900px;
    height:600px;
    border:2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
}

body {
    background-color: black;
}

.img {
    width:105px;
    height: 105px;
}