.parent{
 
     width: 400px;
     height: 400px;
     background-color: black;
     display: flex;

}
.child{

     width: 100px;
     height: 100px;
     background-color: purple;
}
#d{  
     align-self: end;
}
#dd{
     align-self: start ;
}
#ddd{
     align-self: center;
}
#dddd{
     align-self: normal;
}