@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
     margin: 0px;
     padding: 0PX;
     box-sizing: border-box;
}
body{
     height: 100vh;
     background-color: black;
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: "Poppins", sans-serif;
}

#bodydiv{
     background-color: rgb(251, 248, 248);
     width: 1370px;
     height: 100%;
}

#maindiv{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

#textdiv{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     height: 300px;
     width: 490px;
     margin-top: 10px;
}

#h1{
     font-weight: 200;
     color: rgb(152, 145, 145);
     font-size: 35px;
}

#h2{
     font-weight: 600;
     color: hsl(234, 12%, 34%);
     font-size: 35px;
}

#p1{
     color: hsl(212, 6%, 44%);
     font-size: 14px;
     padding-top: 15px;
}

#divsdiv{
      display: flex;
     justify-content: center;
     align-items: center;
     gap: 25px;
}

.divs{
     background-color: white;
     width: 330px;
     height: 230px;
     border-radius: 5px;
}

#div1{
      position: relative;
      left: 177px;
      border-top: 5px solid red;
      display: flex;
      align-items: start;
      flex-direction: column;
}

#div2{
      position: relative;
      right: 175px;
      top: 260px;
      border-top: 5px solid hsl(34, 97%, 64%);
}

#div3{
     position: relative;
      left: 165px;
      top: 145px;
      border-top: 5px solid  hsl(180, 62%, 55%);
}

#div4{
     position: relative;
     right: 165px;
     top: 145px;
     border-top: 5px solid  hsl(212, 86%, 64%);
}

.h1s{
     font-size: 18px;
     color: hsl(234, 12%, 34%);
     font-weight: 600;
    
}

.ps{
     font-size: 13px;
     color: hsl(212, 6%, 44%) ;
}

.divsdivs{
     padding: 25px 25px;
}

.imgs{
     width: 60px;
     position: relative;
     left: 215px;
     top: 40px;
}