/* შექმენი navbar-ის ლინკები, სადაც hover-ზე:
ტექსტის ფერი შეიცვალოს1.2s
underline effect გამოჩნდეს 1s
ტექსტი გაიზარდოს 0.3s */

nav{
     transition: 
     color 1.2s linear,
     text-decoration 1s,linear
     font-size 0.3s linear;
}

nav:hover{
     color:red;
     text-decoration: underline;
     font-size: 40px;
}

a{
     text-decoration: none;
}