h1 {
     color: black;
     background-color: purple;
     text-align: center;
     border: solid green 5 px;
}

h3 {
     color: black;
     background-color: purple;
     text-align: left;
     border: solid aqua 8px;
}

p {
     color: green;
     background-color: gold;
     text-align: right;
     border: solid black 7px;
}

button {
     color: gold;
     background-color: aqua;
     text-align: center;
     border: solid red 6px;
     height: 77px;
     width: 77px;
}