nav li {

    color: red;
    font-size: 30px;
    background-color: green;
    border: solid purple 2px;


}
div li {


    color: blue;
    font-size: 20px;
    background-color: yellow;
    border: solid black 4px;


}